.basket-picker {
  display: flex;
  align-self: flex-end;
  gap: 0.75rem;
  button {
    border: none;
    font-weight: 500;
    width: 2.5rem;
    height: 2.5rem;
    aspect-ratio: 1;
    font-size: 1rem;
    position: relative;
    display: grid;
    place-content: center;
    border-radius: 50%;
    // box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 0.05),
    //   0 4px 8px rgba(0, 0, 0, 0.005), 0 8px 16px rgba(0, 0, 0, 0.005),
    //   0 16px 32px rgba(0, 0, 0, 0.005);

    box-shadow: inset 0 0 24px rgba(255, 255, 255, 0.45),
      inset 0 2px 0px 4px rgba(255, 255, 255, 0.35),
      0 8px 40px 8px rgba(43, 161, 245, 0.25);
    // border: 2px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    // color: white !important;

    // background: transparent !important;

    @media (max-width: 768px) {
      width: 1.75rem;
      height: 1.75rem;
      font-size: calc(var(--itemFont) / 2);
    }
    @media (max-width: 500px) {
      width: 1rem;
      height: 1rem;
      font-size: calc(var(--itemFont) / 1.25);
      scale: 0.75 !important;
    }
  }
}

// .basket-add {
//   color: white !important;
//   &:before {
//     z-index: -1;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     content: "";
//     background: rgb(118, 198, 255);

//     width: 68%;
//     height: 68%;
//     border-radius: 50%;
//   }
// }
