.output-wrapper {
  overflow: hidden;
  display: flex;
  transition: all 250ms ease-in;
  justify-content: center;
  margin-top: 2rem;

  .output-lens {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    margin: 2rem 0;
    background-color: rgba(255, 255, 255, 0.75);

    // box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
    // transform: translateY(calc(-100% - 2rem));
    // border-radius: 1rem;
    transition: all 250ms ease-in;

    position: relative;
    overflow: hidden;
    padding: 2rem;
    @media (max-width: 768px) {
      padding: 1rem;
    }
    &:before {
      content: "";
      display: grid;
      place-content: center;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--blue);
      width: 100%;
      height: 2rem;
      display: none;
    }
    .output-header {
      font-size: 1.5rem;
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .output-basket-length,
      .output-add-basket {
        position: relative;
        border: none;
        font-weight: 500;
        width: 2rem;
        aspect-ratio: 1;
        font-size: 1rem;
        display: grid;
        place-content: center;
        @media (max-width: 768px) {
          width: 1.75rem;
          height: 1.75rem;
          font-size: calc(var(--itemFont) / 2);
        }
        @media (max-width: 500px) {
          width: 1rem;
          height: 1rem;
          font-size: calc(var(--itemFont) / 1.25);
          scale: 0.75 !important;
        }
      }
    }

    .output {
      padding: 0 2rem;
      background-color: white;
      align-items: center;
      height: 96px;
      border: 1px solid #22222244;
      justify-content: center;
      transition: all 250ms ease;
      justify-content: center;

      position: relative;
      overflow: hidden;

      @media (max-width: 768px) {
        max-height: 5rem;
      }
      &:before,
      &:after {
        position: absolute;
        top: 8px;
        content: "";
        border: 6px solid rgb(35, 35, 35);
        width: 24px;
        height: calc(100% - 16px);
        box-sizing: border-box;
        opacity: var(--brackets);
      }
      &:before {
        left: 8px;
        border-right: none;
      }
      &:after {
        right: 8px;
        border-left: none;
      }

      .output-item {
        flex: 1;
        height: 100%;
        font-size: var(--itemFont);
        padding: 1rem;
        cursor: pointer;
        margin: 0.5rem 0.5rem;
        display: grid;
        place-content: center;
        transform-origin: center;
        overflow: hidden;
        border-radius: 0.25rem;

        &:hover {
          transform: scale(1.15);
          // background: white;
        }
      }
      .output-clone {
        opacity: 0;
        position: absolute;
      }
    }
  }
}

@keyframes addOutputItem {
  0% {
    opacity: 0;
    flex: 0;
    font-size: 0;
    padding: 0;
    transform: translateX(var(--output-offset));
  }
  50% {
    font-size: 3rem;
  }
  75% {
    font-size: 2.25rem;
  }
  100% {
    opacity: 1;
    flex: 1;
    font-size: 2.5rem;
    transform: translateX(0);
    padding: 1rem;
  }
}

@keyframes outputClone {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(var(--clone-offset));
  }
}
