aside {
  position: fixed;
  top: 0;
  z-index: 3000;
  left: 0;
  height: calc(100vh);
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(8px);
  transition: all 250ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: inset 0 -8px 16px rgba(255, 255, 255, 0.5),
    inset 0 0 128px #ffffff77, 0 2px 64px 8px rgba(0, 0, 0, 0.05);
  border: 4px solid rgba(255, 255, 255, 0.25);
  border-top: none;
  border-bottom: none;
  backdrop-filter: blur(4px);
  .aside-top {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    height: 8rem;

    // background: var(--blue);
    color: var(--blue);
    display: flex;
    align-items: center;
    padding: 0 3rem;
    gap: 1rem;

    // border-bottom-left-radius: 100vw;
    // border-bottom-right-radius: 100vw;
    svg {
      cursor: pointer;
    }
  }

  @media (max-width: 600px) {
    display: none;
  }
  .aside-hide {
    position: absolute;
    top: 50%;
    right: -0.25rem;
    transform: translateX(50%) translateY(-50%);
    background: var(--black);
    background: white;

    border-radius: 100vw;
    width: 2rem;
    height: 4rem;
    align-self: flex-start;
    // background: var(--black);
    display: grid;
    place-content: center;
    // display: none;
    cursor: pointer;
    svg {
      width: 18px;
      margin-left: 10px;
      color: var(--grey) !important;
    }
  }
  .method-aside-list {
    // padding-top: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;

    .method-aside-selector {
      width: 100%;
      height: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      padding: 0 1.5rem;
      overflow: hidden;
      transition: all 125ms ease;
      cursor: pointer;
      opacity: 0.85;
      color: var(--grey);
      gap: 1.5rem;
      font-weight: 500;

      &:nth-of-type(4n) {
        margin-bottom: 1.5rem;
      }
    }
  }
}
