.basket-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.35),
    inset 0 0 128px #ffffff66, inset 0 4px 0px 4px rgba(255, 255, 255, 0.15),
    0 8px 40px 8px rgba(43, 161, 245, 0.25);

  // border: 4px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  //   border: 1px solid #22222222;
  padding: 1.5rem;
  border-radius: 1.5rem;

  position: relative;
  transition: all 250ms ease;
  //   padding-top: 5rem;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &:before {
    content: "";
    display: grid;
    place-content: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--blue);
    width: 100%;
    height: 3rem;
    display: none;
  }
  .basket-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
  }

  .basket {
    --animation-offset: 0;
    padding: 0 4rem;
    // border: 2px solid var(--light);
    background-color: white;
    // box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
    // border: 1px solid #22222233;
    // border-left: none;
    // border-right: none;
    box-shadow: 0 2px 16px 4px rgba(0, 0, 0, 0.025),
      0 4px 8px rgba(0, 0, 0, 0.005), 0 8px 16px rgba(0, 0, 0, 0.005),
      0 16px 32px rgba(0, 0, 0, 0.005);
    align-items: center;
    height: 80px;
    border-radius: 0.5rem;
    border-radius: 100vw;
    justify-content: center;
    transition: all 250ms ease;
    overflow: hidden;
    position: relative;

    &:first-of-type {
      margin-top: -1rem;
    }
    @media (max-width: 768px) {
      max-height: 5rem;
    }

    &:before,
    &:after {
      position: absolute;
      top: 16px;
      font-size: 3rem;
      display: grid;
      place-content: center;
      width: 20px;
      height: calc(100% - 32px);
      box-sizing: border-box;
      font-family: "Spline Sans Mono";
    }
    &:before {
      content: "[";
      left: 32px;
    }
    &:after {
      content: "]";
      right: 32px;
    }

    .secondary-item {
      flex: 1;
      opacity: 1;
      height: 100%;
      font-size: var(--itemFont);
      cursor: pointer;
      display: grid;
      place-content: center;
      transform-origin: center;
      //   overflow: hidden;
      border-radius: 0.25rem;
      position: relative;
      z-index: 1;
    }
    .basket-item {
      user-select: none;
      flex: 0;
      height: 100%;
      font-size: 0;
      // padding: 0;

      cursor: pointer;
      // margin: 0.5rem 0.5rem;

      display: grid;
      place-content: center;
      transform-origin: center;
      //   overflow: hidden;
      border-radius: 0.25rem;
      position: relative;
      z-index: 1;

      .basket-item-selected {
        --selectionColor: transparent;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        place-content: center;
        text-align: center;
        border-radius: 0.25rem;
        color: transparent;
        text-shadow: 0 0 0 var(--selectionColor),
          -1px -1px 0 var(--selectionColor), -1px 1px 0 var(--selectionColor),
          1px 1px 0 var(--selectionColor), 1px -1px 0 var(--selectionColor);
        scale: 1.45;
        opacity: 0.4;
      }

      .basket-item-highlight {
        border-radius: 0.25rem;
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50px;
        max-width: 128px;
        background-color: var(--highlight);
      }
      .basket-item-selected-red {
        background-color: #df828233;
        // box-shadow: 0 0 8px 2px #df828244;
      }
      .basket-item-target {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        background: red;
        transform: translate(-50%, -50%);
        // filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.45));
      }

      &:hover {
        transform: scale(1.15);
        // transform: rotateY(180deg);
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes addItem {
  0% {
    opacity: 1;
    flex: 0;
    font-size: 0;
    transform: translateX(var(--animation-offset));
  }
  50% {
    font-size: calc(var(--itemFont) * 1.15);
  }
  75% {
    font-size: calc(var(--itemFont) * 0.9);
  }
  100% {
    opacity: 1;
    flex: 1;
    font-size: var(--itemFont);
    transform: translateX(0);
  }
}

@keyframes replaceItem {
  from {
    transform: rotateY(0deg) scaleX(-1);
  }
  to {
    transform: rotateY(180deg) scaleX(-1);
  }
}

@keyframes removeItem {
  0% {
    font-size: var(--itemFont);
    flex: 1;
    opacity: 1;
    max-width: 100%;
  }
  100% {
    font-size: 0rem;
    flex: 0;
    opacity: 0;
    max-width: 0;
  }
}

@keyframes ascendItemIn {
  from {
    transform: translateY(8rem);
  }
  to {
    transform: translateY(0);
  }
}

// @keyframes fallBelow {
//   from {
//     margin-top: -20rem;
//   }
//   to {
//     margin-top: 0;
//   }
// }

.secondary-lens {
  width: 100%;
  overflow: hidden;
  margin-top: -5rem;
  padding-top: 2rem;
  transition: all 200ms ease;
  .secondary-wrapper {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 0;
    overflow: hidden;
    z-index: 0;

    transition: all 200ms ease;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    margin-top: -20rem;
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    // animation: fallBelow 500ms ease;
  }
}

// .basket-item {
//   filter: drop-shadow(8px 8px var(--red));
// }
