.basket-wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.75);
  // background: white;
  box-shadow: 0 0 32px 2px rgba(0, 0, 0, 0.035);
  //   border: 1px solid #22222222;
  padding: 2rem;
  border-radius: 0.5rem;

  position: relative;
  //   padding-top: 5rem;
  overflow: hidden;
  @media (max-width: 768px) {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  &:before {
    content: "";
    display: grid;
    place-content: center;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--blue);
    width: 100%;
    height: 3rem;
    display: none;
  }
  .basket-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // font-size: calc(var(--itemFont) / 2); // padding: 0 2rem;
    font-size: 1.5rem;
  }

  .basket {
    --animation-offset: 0;
    padding: 0 3rem;
    // border: 2px solid var(--light);
    background-color: white;
    // box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #22222233;
    // border-left: none;
    // border-right: none;
    align-items: center;
    height: 96px;
    border-radius: 0.5rem;
    border-radius: 100vw;
    justify-content: center;
    transition: all 250ms ease;
    overflow: hidden;
    position: relative;

    &:first-of-type {
      margin-top: -1rem;
    }
    @media (max-width: 768px) {
      max-height: 5rem;
    }

    &:before,
    &:after {
      position: absolute;
      top: 16px;
      font-size: 3rem;
      display: grid;
      place-content: center;
      width: 20px;
      height: calc(100% - 32px);
      box-sizing: border-box;
    }
    &:before {
      content: "[";
      left: 32px;
    }
    &:after {
      content: "]";
      right: 32px;
    }

    .basket-item {
      user-select: none;
      flex: 0;
      height: 100%;
      font-size: 0;
      // padding: 0;

      cursor: pointer;
      // margin: 0.5rem 0.5rem;

      display: grid;
      place-content: center;
      transform-origin: center;
      //   overflow: hidden;
      border-radius: 0.25rem;
      position: relative;
      z-index: 1;

      .basket-item-selected {
        // display: none;
        // box-shadow: 0 0 8px 2px #82dfdf44;

        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: calc(100% - 2rem);
        max-width: 128px;

        // background-color: var(--selection);
        // background: none !important;

        border: 4px dashed var(--selection);
        border-radius: 0.25rem;

        content: "";
        width: calc(80%);
        // opacity: 0.25;
        animation: fadeIn 200ms ease;
        // &:after {
        //   content: "";
        //   position: absolute;
        //   bottom: -0.5rem;
        //   left: 50%;
        //   width: 0.5rem;
        //   height: 0.5rem;
        //   transform: translateX(-50%);
        //   border-radius: 50%;
        //   background-color: var(--selection);
        // }
      }
      .basket-item-highlight {
        border-radius: 0.25rem;
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: calc(100% - 2rem);
        max-width: 128px;
        background-color: var(--highlight);
      }
      .basket-item-selected-red {
        background-color: #df828233;
        // box-shadow: 0 0 8px 2px #df828244;
      }
      .basket-item-target {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 1;
        background: red;
        transform: translate(-50%, -50%);
        // filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.45));
      }

      &:hover {
        transform: scale(1.15);
        // transform: rotateY(180deg);
      }
    }
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes addItem {
  0% {
    opacity: 0;
    flex: 0;
    font-size: 0;
    transform: translateX(var(--animation-offset));
  }
  50% {
    font-size: calc(var(--itemFont) * 1.25);
  }
  75% {
    font-size: calc(var(--itemFont) * 0.9);
  }
  100% {
    opacity: 1;
    flex: 1;
    font-size: var(--itemFont);
    transform: translateX(0);
  }
}

@keyframes replaceItem {
  from {
    transform: rotateY(0deg) scaleX(-1);
  }
  to {
    transform: rotateY(180deg) scaleX(-1);
  }
}

@keyframes removeItem {
  0% {
    font-size: var(--itemFont);
    flex: 1;
    opacity: 1;
    max-width: 100%;
  }
  100% {
    font-size: 0rem;
    flex: 0;
    opacity: 0;
    max-width: 0;
  }
}

@keyframes spliceItemRemove {
  0% {
    font-size: var(--itemFont);
    flex: 1;
    opacity: 1;
    max-width: 100%;
  }
  50% {
    font-size: 0rem;
    flex: 1;
    opacity: 1;
    max-width: 100%;
  }
  100% {
    font-size: 0rem;
    flex: 0;
    max-width: 0;
    opacity: 0;
  }
}

@keyframes spliceItemAdd {
  0% {
    // padding: 0;
    font-size: 0rem;
    flex: 0;
    max-width: 0;
    opacity: 0;
  }

  50% {
    font-size: 0rem;
    flex: 1;
    opacity: 1;
    max-width: 100%;
  }
  100% {
    font-size: var(--itemFont);
    flex: 1;
    opacity: 1;
    max-width: 100%;
  }
}

@keyframes ascendItemIn {
  from {
    transform: translateY(8rem);
  }
  to {
    transform: translateY(0);
  }
}
