.darken {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #22222233;
  z-index: 100;
  .about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 46rem;

    background-color: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(16px);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: inset 0 0 16px rgba(255, 255, 255, 0.35),
      inset 0 0 128px #ffffff44, inset 0 4px 0px 4px rgba(255, 255, 255, 0.15),
      0 2px 16px 4px rgba(0, 0, 0, 0.05);
    h2 {
      padding-bottom: 1rem;
    }
    .close-about {
      position: absolute;
      top: 2rem;
      right: 2rem;
      cursor: pointer;
    }
  }
}
