.parameter {
  background-color: white;
  color: var(--black);
  flex: 1;
  height: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding-top: 0.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  box-shadow: 0 0 32px 2px rgba(0, 0, 0, 0.035);
  user-select: none;
  cursor: pointer;
  transition: all 200ms ease-out;
  max-width: calc(50% - 0.5rem);
  position: relative;

  &:before {
    position: absolute;
    bottom: -2rem;
    left: 0;
    height: 2rem;
    content: "";
    width: 100%;
    background: white;
  }
  @media (max-width: 768px) {
    height: 5rem;
  }
  &:hover {
    opacity: 1 !important;
    .close-param,
    .parameter-name,
    .parameter-add {
      opacity: 1;
    }
  }
  .close-param {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    opacity: 0;
    display: none;
  }
  .parameter-name {
    font-size: 1rem;
    // opacity: 0;
    // display: none;
  }
  .parameter-add {
    opacity: 1;
    flex: 1;
  }
  .parameter-emoji-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    // justify-content: space-evenly;
    // align-items: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    &:hover {
      .previous-emoji,
      .next-emoji {
        opacity: 0.65;
      }
    }
    .previous-emoji,
    .next-emoji {
      outline: none;
      border: none;
      display: grid;
      place-content: center;
      opacity: 0;
    }
    .parameter-emoji {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc(var(--itemFont) * 1);
      cursor: pointer;
    }
  }
  .parameter-number {
    display: flex;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;

    &:hover {
      .decrement-number,
      .increment-number {
        opacity: 0.65;
      }
    }
    .decrement-number,
    .increment-number {
      outline: none;
      border: none;

      // background: none;
      display: grid;
      place-content: center;
      opacity: 0;
      flex: 1;
    }
    input {
      appearance: none;
      border: none;
      border-radius: 0.25rem;

      // border: 2px solid var(--light);
      border: none;
      outline: none;
      background: transparent;

      font-size: 2.5rem;
      flex: 1;
      width: 100%;
      margin: auto;
      text-align: center;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
