.active-method {
    padding: 2rem 0;
    display: grid;
    place-content: center;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    position: relative;
    min-height: 16rem;
    // border-bottom-left-radius: 0;
    // border-bottom-right-radius: 0;
    // transition: all 250ms ease;
    .dropdown-methods {
        position: absolute;
        bottom: -8rem;
        width: 100%;
        height: 8rem;
        overflow: hidden;
        div {
            justify-content: center;

            background-color: rgba(255, 255, 255, 0.65);
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
            transition: all 500ms ease;
            display: flex;
            max-height: 6rem;
            padding: 2rem;
            border-radius: 0.5rem;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            overflow: hidden;
            position: relative;
            &:before {
                position: absolute;
                bottom: -2rem;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                background-color: white;
                width: 4rem;
                height: 2rem;
                border-radius: 100vw;
            }
            &:hover {
                transform: translateY(-100%);
            }
        }
    }
    .method-left,
    .method-right {
        position: absolute;
        top: 50%;
        border-radius: 50%;
        background-color: white;
        color: var(--black);
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.075);
        border: none;
        transform: translateY(-50%);
        width: 3rem;
        aspect-ratio: 1;
        display: grid;
        place-content: center;
        &:hover {
            background-color: var(--blue);
            color: white;
        }
    }
    .method-left {
        left: 2rem;
    }
    .method-right {
        right: 2rem;
    }
    .method-wrapper {
        display: flex;
        flex-direction: column;
        width: 45rem;
        height: 12.5rem;
        justify-content: center;
        .method {
            flex: 1;
            max-height: 50%;
            box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.05);
            transition: all 250ms ease;
            z-index: 2;
            display: flex;
            background: white;
            color: var(--black);
            padding: 1rem;
            height: 6rem;
            justify-content: space-between;
            border-radius: 0.5rem;
            align-items: center;
            font-family: "Roboto Mono";
            .method-icon {
                height: 100%;
                aspect-ratio: 1;
                border-radius: 0.5rem;
            }

            .method-btn {
                border: none;
                height: 100%;
                aspect-ratio: 1;
                background-color: var(--blue);
                color: white;
                font-weight: 500;
                border-radius: 0.5rem;
                display: grid;
                place-content: center;
            }
        }
    }
}
