@import "./mixins.scss";

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Poppins";

  transition: all 125ms ease;

  main {
    backdrop-filter: blur(8px);
    border-radius: 3rem;
    pointer-events: all;
    max-width: 1184px;
    width: min(100% - 4rem);
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3rem;
    transition: all 125ms ease;
    position: relative;
    padding: 1.5rem;
    .side-buttons {
      position: absolute;
      right: -2rem;
      transition: all 250ms ease;
      bottom: 3rem;
      min-height: 9rem;
      width: 2rem;

      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.35);
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      display: none;
      .side-button {
        font-weight: 600;
        font-size: calc(var(--itemFont) * 1);
        display: grid;
        place-content: center;

        aspect-ratio: 1;
        border-radius: 50%;
        // background-color: rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(8px);
        user-select: none;
        cursor: pointer;
        transition: 250ms ease;

        &:nth-of-type(2) {
          bottom: 3.75rem;
        }
        &:nth-of-type(3) {
          bottom: 7.5rem;
        }
      }
    }

    @media (max-width: 1300px) {
      padding-left: 4rem;
    }
    @media (max-width: 768px) {
      width: min(100% - 2rem);
    }
    @media (max-width: 600px) {
      padding-left: 0;
    }
    @media (max-width: 400px) {
      width: min(100% - 1rem);
    }
  }
  &:before {
    // background: linear-gradient(-45deg, #c3e7e8, #e5d0ea, #f7e6cf);
    // background: linear-gradient(-45deg, #7fd5e988, #f5a3e288, #e9b36788);
    // background: linear-gradient(-45deg, #a6d1f2, #f5a3e2, #e9b367);
    // background: linear-gradient(-45deg, #b2222255, #1e90ff55, #ffc0cb55);
    // background: linear-gradient(-45deg, #d9cfc388, #91b194, #ffffff);
    // background: linear-gradient(45deg, #e3acb2, #e2e8f9, #e4eef8);
    // background: linear-gradient(
    //   135deg,
    //   rgb(255, 227, 200),
    //   rgb(224, 193, 255),
    //   rgb(255, 188, 221)
    // );

    // background: linear-gradient(-45deg, #79c6ffcc, #86a1ffcc, #b0d0f5cc);
    // background: linear-gradient(135deg, #a2d2f2, #e1abe2cc, #fe98a7aa, #ffffff);
    // background: #1e90ff44;
    // background: linear-gradient(
    //   135deg,
    //   #f8a10255,
    //   #ff3d0755,
    //   #ff0a7f55,
    //   #e92ea055,
    //   #ad3dd355
    // );
    // background-color: #e4e9ef;
    // background: linear-gradient(135deg, #d9efff, #8cd6fe, #8bcdfd);
    // background: linear-gradient(135deg, #beb9fc -25%, #bdfbff, #fdaeb7 135%);
    background: linear-gradient(135deg, #beb9fc 0%, #bdfbff);
    // background: linear-gradient(135deg, #9eb1ff 0%, #b3dcfe);
    // background: linear-gradient(135deg, #eab8b8 0%, #d8dcf4);
    // background: #bcc3eb;
    // background: #e1dcf9;

    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: -1;
    overflow: auto;
  }

  header {
    position: fixed;

    top: 0;
    width: calc(100%);

    // background: var(--blue);
    // background: linear-gradient(-45deg, var(--blue), #bed7f0);
    color: var(--black) !important;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.075);
    display: flex;
    height: 6rem;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    opacity: 0.8;
    h2 {
      font-size: 2rem;
    }
  }
}

@keyframes inOut {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}
