.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: "Spline Sans Mono";
  // font-family: "Poppins";
  transition: all 125ms ease;

  main {
    max-width: var(--pageWidth);
    width: min(100% - 4rem);
    @media (max-width: 1300px) {
      padding-left: 4rem;
    }
    @media (max-width: 768px) {
      width: min(100% - 2rem);
    }
    @media (max-width: 600px) {
      padding-left: 0;
    }
    @media (max-width: 400px) {
      width: min(100% - 1rem);
    }
  }
  &:before {
    // background: linear-gradient(-45deg, #c3e7e8, #e5d0ea, #f7e6cf);
    // background: linear-gradient(45deg, #e3acb2, #e2e8f9, #e4eef8);
    background: #eeeeee;

    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    z-index: -1;
    overflow: auto;
  }

  header {
    position: fixed;

    top: 0;
    width: calc(100%);
    background: rgba(255, 255, 255, 1);
    background: var(--blue);
    // background: linear-gradient(-45deg, var(--blue), #bed7f0);
    color: #222 !important;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.075);
    display: flex;
    height: 4rem;
    z-index: 1000;
    align-items: center;
    display: none;
    .header-left {
      flex: 1;
      width: 100%;

      padding-left: 1rem;
      display: flex;
      gap: 1rem;
      svg {
        // color: var(--blue);
      }
      h2 {
        display: grid;
        place-content: center;
      }
    }
    .header-right {
      flex: 6;

      justify-content: flex-end;
      align-items: center;
      display: flex;

      padding-right: 1rem;
      gap: 4rem;
      ul {
        display: flex;
        gap: 4rem;
        font-weight: 500;
        color: black;
      }
      // &:hover {
      //     opacity: 1;
      // }

      div {
        button {
          background-color: none;
          border: none;
          font-size: 2.5rem;
        }
        &:hover {
          filter: invert(1);
        }
      }
    }
  }
  aside {
    position: absolute;

    top: 0;
    z-index: 3000;
    left: 0;
    height: calc(100vh);

    background: var(--black);
    padding: 0 1rem;
    transition: all 250ms ease;
    display: flex;
    flex-direction: column;
    // justify-content: center;

    padding-top: 8rem;
    .aside-top {
      position: fixed;
      top: 0;
      left: 0;
      width: inherit;
      height: 4rem;
      background: var(--blue);
      display: flex;
      align-items: center;
      padding-left: 1rem;
      gap: 1rem;

      // border-bottom-left-radius: 100vw;
      // border-bottom-right-radius: 100vw;
      svg {
      }
    }

    @media (max-width: 600px) {
      display: none;
    }
    .aside-hide {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateX(50%) translateY(-50%);
      background: white;
      border-radius: 100vw;
      width: 2rem;
      height: 4rem;
      align-self: flex-start;
      background: var(--black);
      display: grid;
      place-content: center;
      svg {
        width: 20px;
        margin-left: 8px;
      }
    }
    .method-aside-list {
      // padding-top: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .method-aside-selector {
        padding: 0.5rem 0;
        width: 100%;
        height: 100%;
        display: flex;
        transition: all 125ms ease;
        cursor: pointer;
        opacity: 0.85;

        color: white;
        gap: 1rem;
        font-weight: 500;

        &:nth-of-type(4n) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

@keyframes inOut {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(2rem);
  }
  100% {
    transform: translateX(0);
  }
}
