* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --pageWidth: 1100px;
    --bg: #f9f5f2;
    --black: #1d202b;
    --light: #d9e1f5;
    --medium: #83b6b1;

    --blue: #1dba9e;
    --pink: #e062a2;
    --yellow: #f8d44b;
    --lightblue: #82dfdf;

    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    color: var(--black);
    ul {
        list-style-type: none;
        display: flex;
    }
    button {
        padding: 1rem;
        cursor: pointer;

        font-variant: small-caps;
    }
}
