@mixin glass($border: 6px, $blur: 4px) {
  // box-shadow: inset 0 5px 16px rgba(255, 255, 255, 0.35),
  // inset 0 10px 128px #ffffff77, inset 0 8px 64px 8px rgba(255, 255, 255, 0.25),
  box-shadow: 4px 4px 16px 0 rgba(69, 140, 191, 0.25);
  // box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.125);
  backdrop-filter: blur($blur);
  //   border: $border solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.5);
}

// @mixin glass($blur: 0) {
//   background: white;
// }
