.change-method-left {
  left: 0rem;
}
.change-method-right {
  right: 0rem;
}

.change-method-left,
.change-method-right {
  // position: absolute;
  // top: 50%;
  background-color: transparent;
  color: var(--grey);
  border: none;
  // transform: translate(-50%);
  width: 3rem;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  border-radius: 50%;
  display: none;
  @media (max-width: 768px) {
    display: none;
  }
  // &:hover {
  //   background-color: var(--blue);
  //   color: white;
  // }
}
